body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

#content {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 400px;
}

h1 {
    font-size: 14pt;
}

.input-row {
    height: 40px;
    margin-bottom: 8px;
    white-space: nowrap;
    display: flex;
}

.input-icon {
    height: 40px;
    width: 40px;
    flex: 0 0 auto;
    background-size: contain;
    vertical-align: center;    
}

.input-value {
    padding-left: 5px;
    margin: auto auto;
    height: 60%;
    flex: 1 1 auto;
    width: 100px;
}

#flour .input-icon {
    background-image: url("flour.png");
}

#water .input-icon {
    background-image: url("water.png");
}

#starter .input-icon {
    background-image: url("starter.png");
}

#starter .input-icon:nth-of-type(2) {
    background-image: url("starter_hydration.png");
}

#starter .input-value:nth-of-type(2) {
    flex: 0 0 30px;
    min-width: 30px;
}

#hydration .input-icon {
    background-image: url("hydration.png");
}

#weight .input-icon {
    background-image: url("weight.png");
}

.calc-row {
    margin-top: 16px;
    display: flex;
    width: 100%;
    height: 32px;
}

.calc-row select {
    flex: 1 0 auto;
    margin-right: 10px;
    -webkit-appearance: menulist-button;
    width: 100px;
    height: 100%;
}

.calc-row button {
    flex: 0 0 auto;
    width: 75px;
}