body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    background-color: #1a110d;
    color: #f8f2e7;
}

#content {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    max-width: 400px;
}

h1 {
    font-size: 14pt;
}

.input-row {
    height: 50px;
    margin-bottom: 8px;
    white-space: nowrap;
    display: flex;
}

.input-value {
    margin: auto 0;
    padding-left: 5px;
    height: 60%;
    flex: 1 1 auto;
    width: 100px;
    border: none;
    border-bottom: 1px solid #f8f2e7;
    font-size: 12pt;
    background-color: #231712;
    color: #f8f2e7;
}

#output {
    margin-top: 1em;
}

#keyboard {
    margin-top: 1em;
}

button {
    background-color: #4d4a49;
    color: #f8f2e7;
    border-radius: 3px;
    border-width: 1px;
    height: 2em;
    width: 2em;
    font-size: large;
    margin: 1px;
}

#info {
    margin-top: 2em;
    font-size: 9pt;
    font-style: italic;
}

#info a {
    text-decoration: none;
    color: #aaaaaa;
}

#info a:hover {
    text-decoration: none;
    color: #dddddd;
}