body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

#content {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    max-width: 400px;
}

h1 {
    font-size: 14pt;
}

.input-row {
    height: 50px;
    margin-bottom: 8px;
    white-space: nowrap;
    display: flex;
}

.input-value {
    margin: auto 0;
    padding-left: 5px;
    height: 60%;
    flex: 1 1 auto;
    width: 100px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 12pt;
}

#output {
    margin-top: 1em;
}

#info {
    margin-top: 2em;
    font-size: 9pt;
    font-style: italic;
}

#info a {
    text-decoration: none;
    color: #aaaaaa;
}

#info a:hover {
    text-decoration: none;
    color: #444444;
}